vendor/etc/license.lic
system/system/app/Chrome/Chrome.apk
system/system/etc/camera/license_release.lic
system/system/priv-app/GmsCore/GmsCore.apk
system/system/priv-app/OppoGallery2/OppoGallery2.apk
system/system/priv-app/Velvet/Velvet.apk
